footer
  #container
    #part1
      #companyinfo
        a#sitelink(href='#') Newspaper
        p#title Cool and Perfect Snippet code
        p#detail
          | We create awesome code snippets that will help you in creating your own beautiful site.
      #explore
        p#txt1 Explore
        a.link(href='#') Home
        a.link(href='#') About
        a.link(href='#') Snippet
        a.link(href='#') Careers
      #visit
        p#txt2 Visit
        p.text 144 Xu&acirc;n Th&#x1EE7;y-C&#x1EA7;u gi&#x1EA5;y-H&agrave; N&#x1ED9;i
        p.text S&#x1ED1; 8-T&ocirc;n Th&#x1EA5;t Thuy&#x1EBF;t-Nam T&#x1EEB; Li&ecirc;m-H&agrave; N&#x1ED9;i
        p.text Phone: (12) 12121212
        p.text Fax: (88) 8888888 
      #legal
        p#txt3 Legal
        a.link1(href='#') Terms and Conditions
        a.link1(href='#') Private Policy
      #subscribe
        p#txt4 Subscribe to US
        form
          input#email(type='email' placeholder='Email')
        a.waves-effect.waves-light.btn Subscribe
        p#txt5 Connect With US
        i.bi.bi-facebook.subscribe
        i.bi.bi-youtube.subscribe
        i.bi.bi-twitter.subscribe
    #part2
      p#txt6
        | Disign by Chuong, Ninh and Hoang